@font-face {
  font-family: "TT Lakes Regular";
  src: url("TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("../fonts/TTLakes/TTLakes-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TTLakes/TTLakes-Regular.woff") format("woff"),
    url("../fonts/TTLakes/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Medium";
  src: url("TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"),
    url("../fonts/TTLakes/TTLakes-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TTLakes/TTLakes-Medium.woff") format("woff"),
    url("../fonts/TTLakes/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Bold";
  src: url("TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"),
    url("../fonts/TTLakes/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes/TTLakes-Bold.woff") format("woff"),
    url("../fonts/TTLakes/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;

  font-family: "TT Lakes Regular", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  position: relative;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 767px;
  margin: 0 auto;
  padding: 19px 0 18px;
}

.container {
  padding: 0 16px;
}

.header__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 42px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-button {
  display: flex;
  padding: 0;
  border: none;

  background-color: transparent;
}

.service-button:hover {
  cursor: pointer;
}

.burger {
  display: flex;
  align-items: center;
}

.menu__burger {
  margin-right: 16px;
}

.menu__burger::after {
  content: "";
  display: none;
  margin-left: 20px;
  width: 2px;
  height: 32px;

  background-color: #eaeaea;
}

.logo {
  fill: #80949f;
}

.menu__logo {
  display: flex;
  align-items: center;
}

.service-buttons__wrapper {
  display: flex;
}

.service-buttons__wrapper--desktop {
  display: none;
}

.service-button--repair,
.service-button--status {
  display: flex;
  align-items: center;
}

.service-button--repair {
  margin-right: 16px;
}

.service-button--repair::before {
  content: "";
  margin-right: 20px;
  width: 2px;
  height: 32px;

  background-color: #eaeaea;
}

.tablet-buttons {
  display: none;
}

.services {
  max-width: 767px;
  margin: 0 auto;
  margin-top: 88px;
  padding: 152px 0 35px;
  border-top: 1px solid #d9fff5;

  background-color: #f8f8f8;
}

.title {
  font-family: "TT Lakes Bold", sans-serif;
  font-size: 28px;
  line-height: 1.43; /* 40px */
  letter-spacing: -0.6px;

  color: #1b1c21;
}

.services__title {
  margin-top: 0;
  margin-bottom: 24px;
  display: flex;
}

.services__title::before {
  content: "";
  width: 4px;
  height: 40px;
  margin-right: 12px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;

  background-color: #41f6d7;
}

.services__list {
  display: flex;
  padding: 0 16px;
  overflow-x: scroll;
}

.services__item {
  padding: 8px 16px;

  color: #7e7e82;
}

.services__item--active {
  border-radius: 6px;
  border: 2px solid #b8ffec;
}

.services__link {
  font-family: "TT Lakes Medium", sans-serif;
  font-size: 16px;
  line-height: 1.5; /* 24px */
  letter-spacing: -0.2px;
  white-space: nowrap;

  color: inherit;
}

.services__description {
  margin-bottom: 16px;
  padding: 0 16px;
}

.services__text {
  font-size: 14px;
  line-height: 1.29; /* 18px */
  letter-spacing: 0.2px;

  color: #1b1c21;
}

.services__text--mobile {
  margin-top: 0;
  margin-bottom: 0;
}

.services__text--tablet {
  display: none;
}

.services__text--desktop {
  display: none;
}

.more {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.more__icon {
  margin-right: 8px;

  fill: #41f6d7;
}

.more__text {
  vertical-align: middle;

  font-family: "TT Lakes Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;

  color: #1b1c21;
}

.services__img {
  display: block;
  width: 100%;
  max-width: 320px;
  height: auto;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 1119px;
  }

  .container {
    padding: 0 24px;
  }

  .menu__burger {
    margin-right: 20px;
  }

  .menu__burger::after {
    display: block;
  }

  .menu__logo::after {
    display: none;
  }

  .services-icons {
    display: flex;
  }

  .tablet-buttons {
    display: flex;
    margin-right: 20px;
  }

  .tablet-buttons .service-button:not(:last-child) {
    margin-right: 16px;
  }

  .services {
    max-width: 1119px;
    padding-top: 168px;
    padding-bottom: 40px;
  }

  .services__title {
    margin-bottom: 32px;
  }

  .services__list {
    padding-left: 24px;
    padding-right: 24px;
  }

  .services__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
  }

  .services__description {
    margin-right: 48px;
    padding: 0;
  }

  .services__text {
    line-height: 1.43; /* 20px */
  }

  .services__text--mobile {
    display: block;
    margin-bottom: 30px;
  }

  .services__text--tablet {
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .more {
    margin-bottom: 0;
  }

  .services__img {
    min-width: 360px;
    width: 360px;
    border-radius: 8px;
  }
}

@media screen and (min-width: 1120px) {
  .header {
    padding-top: 42px;
    min-width: 1120px;
  }

  .header__container {
    padding: 0;
  }

  .header__top {
    display: none;
  }

  .header--desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    padding-right: 32px;
  }

  .service-buttons__wrapper--desktop {
    display: flex;
  }

  .service-button__text {
    margin-right: 8px;

    font-family: "TT Lakes Medium", sans-serif;
    font-size: 16px;
    line-height: 1.5; /* 24px */
    letter-spacing: -0.2px;

    color: #1b1c21;
  }

  .service-button--repair {
    margin-right: 16px;
  }

  .service-button--repair::before {
    display: none;
  }

  .services__title {
    margin: 0;
  }

  main {
    background-color: #f8f8f8;
  }

  .services {
    min-width: 1120px;
    margin-top: 0;
    padding-top: 184px;
    border: none;
    background-color: transparent;
    padding-bottom: 50px;
  }

  .services__list {
    flex-wrap: wrap;
    overflow: auto;
    padding-left: 32px;
    padding-right: 25px;
  }

  .services__wrapper {
    padding-left: 34px;
    padding-right: 30px;
  }

  .services__title::before {
    margin-right: 30px;
  }

  .services__text--desktop {
    display: inline;
  }

  .services__img {
    min-width: 531px;
    width: 531px;
  }
}
