html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.header {
  max-width: 320px;
  margin: 0 auto;
  padding: 19px 0;
  border-bottom: 1px solid #d9fff5;
}

.container {
  padding: 0 16px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu::after {
  content: "";
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
}

.logo {
  fill: #80949f;
}

.menu__burger-icon {
  margin-right: 16px;
}

.menu__logo-icon {
  margin-right: 16px;
}

.services-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services-icons .services-icons__item:not(:last-child) {
  margin-right: 16px;
}

.services {
  width: 320px;
  margin: 0 auto;
  padding: 24px 0 35px;
  background-color: #f8f8f8;
  overflow: hidden;
}

.title {
  font-family: sans-serif;
  font-size: 28px;
  line-height: 1.43; /* 40px */
  letter-spacing: -0.6px;
  color: #1b1c21;
}

.services__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  display: flex;
}

.services__title::before {
  content: "";
  width: 4px;
  height: 40px;
  margin-right: 12px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  background-color: #41f6d7;
}

.services__list {
  display: flex;
  margin-bottom: 24px;
}

.services__item {
  padding: 8px 16px;

  border-radius: 6px;
  color: #7e7e82;
}

.services__item:not(:last-child) {
  margin-right: 20px;
}

.services__item--desktop {
  display: none;
}

.services__item--active {
  border: 2px solid #b8ffec;
}

.services__link {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 24px */
  letter-spacing: -0.2px;
  white-space: nowrap;
  color: inherit;
}

.services__text {
  margin-top: 0;
  margin-bottom: 16px;

  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29; /* 18px */
  letter-spacing: 0.2px;
  color: #1b1c21;
}

.more {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.more__icon {
  margin-right: 8px;
  fill: #41f6d7;
}

.more__text {
  vertical-align: middle;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;

  color: #1b1c21;
}

.services__img {
  width: 100%;
  height: auto;
}
